$primary-color: #80A1D4;
body {
    text-align: center;
}
button {
    outline: none;
}
.whiteBox {
    background-color: white;
    height: 200px;
    width: 400px;
    position: absolute;
    z-index: 2;
    top: -80px;
    left: -99px;
}
.money {
    position: absolute;
    top: -50px;
    right: -71px;
    z-index: 1;
    transition: all 1s ease-in;
}
.moneyAfter {
    top: 118px;
}
.topAtm {
    height: 40px;
    border: solid $primary-color 2px;
    background: $primary-color;
}
.mainAtm {
    margin: auto;
    height: 90vh;
    position: relative;
}
.innerAtm {
    margin: auto;
    width: 100%;
    height: 107%;
    border: 2px solid black;
    border-bottom: 240px solid transparent;
    border-right: 140px solid #75C9C8;
    border-left: 140px solid #75C9C8;
}
.atmLogo {
    margin: auto;
    margin-top: 20px;
    width: 90%;
    text-align: right;
    border: 2px solid black;
}
.atmLogo h1 {
    margin-right: 40px;
}
.atmScreenOuter {
    height: 250px;
    width: 600px;
    margin-top: 40px;
    margin-left: 30px;
    position: relative;
}
.atmScreenOuter button {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    filter: drop-shadow(2px 0px 2px black);
    background: lightGrey;
    border: solid black 2px;
    border-radius: 5px;
}
.button1 {
    left: 11%;
    top: 51%;
}
.button2 {
    left: 11%;
    top: 69%;
}
.button3 {
    left: 11%;
    top: 87%;
}
.button4 {
    right: 30px;
    top: 51%;
}
.button5 {
    right: 30px;
    top: 69%;
}
.button6 {
    right: 30px;
    top: 87%;
}
.atmScreen {
    position: absolute;
    margin: auto;
    width: 400px;
    height: 250px;
    left: 50%;
    top: 50%;
    border: 2px solid black;
    transform: translate(-50%, -50%);
}
.cardInsert {
    width: 222px;
    height: 20px;
    border-radius: 25px;
    background-color: rgb(82, 80, 80);
    right: 0;
    z-index: 4;
}
.cardInsertCircle {
    position: absolute;
    top: -14px;
    right: 65px;
    width: 50px;
    height: 50px;
    background-color: rgb(82, 80, 80);
    border-radius: 50%;
    z-index: 4;
}
.cardInsertInner {
    width: 175px;
    position: absolute;
    background-color: black;
    right: 2px;
    height: 25px;
    top: 0px;
    z-index: 5;
    border: solid rgb(82, 80, 80) 10px;
    border-radius: 20px;
}
.cashExert {
    border: solid black 10px;
    border-top: solid transparent 10px;
    width: 370px;
    height: 30px;
    background-color: darkgrey;
    position: absolute;
    top: 100px;
    right: -85px;
}
.rightAtm {
    width: 200px;
    position: absolute;
    left: 766px;
    bottom: 177px;
}


.screenContent {
    position: relative;
}
.screenContent p {
    position: absolute;
}
.deposite {
    top: 46px;
}
.withdrawal {
    top: 90px;
}
.transfer {
    top: 136px;
}
.changePin {
    top: 45px;
    left: 34px;
}
.checkBalance {
    top: 90px;
    left: 13px;
}
.custom {
    top: 136px;
    left: 60px;
}
.eighty {
    top: 45px;
    left: 84px;
}
.hundred {
    top: 90px;
    left: 77px;
}


.rightParagraph {
    position: absolute;
    top: 10%;
    width: 500px;
    height: 200px;
    right: 5%;
    background-color: white;
    border-radius: 5px;
    transform: traslate(-50%, -50%);
}
.input {
    width: 50%;
    height: 24px;
    border: solid black 1px;
    margin: auto;
    margin-top: 50px;
}


// Key Pads
.keyPadWrapper {
    background-color: #80A1D4;
    height: 241px;
    position: absolute;
    width: 1335px;
    right: 77px;
    top: 72%;
    transform: perspective(20px) rotateX(1deg);
}
.keyPad {
    right: -140px;
    width: 220px;
    height: 220px;
    position: relative;
    top: 12px;
}
.key {
    width: 48px;
    height: 48px;
    position: absolute;
    filter: drop-shadow(2px 2px 0px black);
    background-color: white;
    border: solid black 1px;
    border-radius: 5px;
}
.key:active {
    filter: drop-shadow(0px 0px 0px black);
    outline: none;
    margin: 2px 0 0 2px;
}
.key1 {
    top: 0;
    left: 0;
}
.key2 {
    top: 0;
    left: 57px;
}
.key3 {
    top: 0;
    right: 57px;
}
.keyE {
    right: 0;
    bottom: 0;
    height: 105px;
}
.key4 {
    top: 57px;
    left: 0;
}
.key5 {
    top: 57px;
    left: 57px;
}
.key6 {
    top: 57px;
    right: 57px;
}
.key7 {
    bottom: 57px;
    left: 0;
}
.key8 {
    bottom: 57px;
    left: 57px;
}
.key9 {
    bottom: 57px;
    right: 57px;
}
.keyD {
    bottom: 0;
    left: 0;
}
.key0 {
    bottom: 0;
    left: 57px;
}
.keyB {
    right: 0;
    top: 0;
    height: 105px;
}
.keyC {
    bottom: 0;
    right: 57px;
}

.atmBottomOuter {
    position: relative;
    top: 39px;
}
.bottomAtm {
    position: relative;
    top: 47px;
}
.atmBottom {
    position: relative;
    border: solid black 1px;
    height: 100vh;
    background-color: lightgrey;
}
.reciptOutput {
    position: absolute;
    height: 50px;
    width: 300px;
    background-color: darkgrey;
    right: 300px;
    top: 100px;
}
.recipt {
    position: absolute;
    height: 0px;
    width: 250px;
    background-color: white;
    right: 24px;
    top: -69px;
    transition: all 1s ease-in;
}
.recipt.transition {
    margin-top: 0px;
    height: 100px;
}
.reciptOutputOverlay {
    z-index: 1;
    top: 130px;
    right: 300px;
    background-color: grey;
    height: 72px;
    width: 300px;
    position: absolute;
}